h2 {
  font-weight: bold;
}

nav {
  background-color: #0b0b45;
}
.navbar-brand {
  font-family: "Bad Script", cursive;
  font-weight: bold;
}

.jumbotron {
  background-color: #0b0b45;
  padding-top: 4rem;
}
.contact-list li {
  padding: 0.5rem 1rem;
}
.contact-list li a {
  text-decoration: none;
  color: #ffffff;
}

#projects {
  background-color: #0b0b45;
}

footer {
  background-color: #0b0b45;
}
